{% extends "metrics/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}
{% load humanize %}


{% block browserTitle %}{{ block.super}} Admin center - Data audits {% endblock %}

{% block pageTitle %} Data audits {% endblock %}

{% block extraFiles %}

{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<h3>Metrics</h3>
		<div class="flex-ns flex-wrap-ns">			
			<div class="w-100 w-50-m w-30-ns pr4 mb4">
				{% url 'metrics:admin_inactive_users' as thisUrl %}
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Projects with inactive users' number=dataAudits.projectsInactiveContacts itemUrl=thisUrl %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Projects with no responses' number=dataAudits.projectsNoSnapshots %}

				{% url 'metrics:admin_campaign_noproject_list' as thisUrl %}
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Campaigns with responses with no project' number=dataAudits.campaignsResponsesNoProject itemUrl=thisUrl %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Projects with no contacts' number=dataAudits.projectsNoContact %}

				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Projects with no domain' number=dataAudits.projectsNoDomain %}

				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Active projects' number=dataAudits.projects %}

				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Inactive projects' number=dataAudits.projectsInactive %}

				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Core projects' number=dataAudits.coreProjects %}
				
			</div>
		</div>
		
		<h3>Research</h3>
		
		<div class="flex-ns flex-wrap-ns">			
			<div class="w-100 w-50-m w-30-ns pr4 mb4">
				<p class="b">Tagging and taxonomies</p>
				
				{% url 'research:admin_artifacts_notags' as thisUrl %}
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Artifacts without tags' url=url number=dataAudits.notags itemUrl=thisUrl %}
				
				{% url 'metrics:admin_inactive_users' as thisUrl %}
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Research with inactive users' number=dataAudits.artifactsInactiveOwners itemUrl=thisUrl %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Archived artifacts' number=dataAudits.archivedArtifacts %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Unused methods' number=dataAudits.methodsUnused %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Unused sources' number=dataAudits.sourcesUnused %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Unused statuses' number=dataAudits.statusesUnused %}
				
				{% include 'metrics/partials/data_audit_stat_with_number.html' with name='Unused tags' number=dataAudits.tagsUnused %}
				
			</div>
			
			<div class="w-100 w-50-m w-30-ns pr4 mb4">	
				<p class="b">Top 10 research artifact owners</p>
				{% for user in dataAudits.userArtifacts %}
					<div class="flex mb3">
						<div class="w-100 w5-ns"><a class="{{ templateHelpers.classes.link }}" href="{% url 'research:home' %}?q={{ user.username }}">{{ user.username }}</a></div>
						<div class="w2 tr b">{{ user.numarts }}</div>
					</div>
				{% endfor %}
			</div>
			
			<div class="w-100 w-50-m w-40-ns pr4 mb4">	
				<p class="b">Top 10 searches</p>
				{% for search in dataAudits.artifactSearches %}
					<div class="flex mb3">
						<div class="w-100 w5-ns">{{ search.search_text }}</div>
						<div class="w2 tr b">{{ search.search_count }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
			
	</div>
	
		

{% endblock %}
