{% extends "metrics/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Add a new tool/service {% endblock %}

{% block pageTitle %} Add a new tool/service {% endblock %}

{% block pageSubtitle %} {% endblock %}

{% block extraFiles %}

	<script>
	
	
	</script>
	
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} flex-ns mt4">
		
		
		<div class="w-60-ns w-100">
			{% include 'partials/form_complete_horizontal.html' with form=form %}
				
			{% block deleteButton %}{% endblock %}
		</div>
		
		<div class="w-40-ns w-100 pl4-ns">
			
		</div>
		
	</div>
	
	{% include 'partials/add_user_overlay.html' %}
		
{% endblock %}

