{% extends "metrics/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}
{% load humanize %}


{% block browserTitle %}{{ block.super}} Admin - Campaigns {% endblock %}

{% block pageTitle %} Campaigns {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}
	<script>OM.enableHotlinkrows();</script>

{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<p class="pb0">Click any row to edit it or <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{% url 'metrics:admin_campaign_add' %}"><span class="mr1">add a new campaign</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></p>
		
		<p class="">View all <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{% url 'metrics:admin_campaign_noproject_list' %}">campaigns without an associated project</a></p>
		
		
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4">
		
		<table {{ templateHelpers.html.tableWidget.fullFeatures|safe }}>
			<thead>
				<tr>
					<th class="w5 tl">Key</th>
					<th class="tl">UID</th>
					<th class="tl">U. button ID</th>
					<th class="w2 tl">Inactive</th>
					<th class="w2 tl pl2">Vote</th>
					<th class="tl pl2">Last VotE</th>
					<th class="w2 tl pl2">Fdbck</th>
					<th class="tl pl2">Last Fdbk</th>
					<th class="w2 tl pl2">Other</th>
					<th class="w2 tl pl2">"Other" goal</th>
					<th class="tl pl2">Project</th>
				</tr>
			</thead>
			
			<tbody>
				{% for campaign in campaigns %}
					<tr tabindex="0" data-url="{% url 'metrics:admin_campaign_edit' id=campaign.id %}" class="hover-bg-lightest-blue pointer" title="Click to edit">
						<td style="min-width:80px;" class="w5 pv2 pl2 pr3 bo-word-break-all">{{ campaign.key|default:'' }}</td>
						<td class="pv2 pl2 pr3">{{ campaign.uid }}</td>
						<td class="w2 pv2 pl2 pr3">{{ campaign.usabilla_button_id|default:'' }}</td>
						<td class="w2 pv2 pl2 pr3 tc">{% if campaign.inactive %}<span class="red f6">❌</span>{% endif %}</td>
						<td class="w2 pv2 pl2 pr3">{{ campaign.vote_response_count|default:'' }}</td>
						<td class="pv2 pl2 pr3" data-order="{% if campaign.vote_response_count > 0 %}{{ campaign.latest_response_date|date:'U' }}{% endif %}">{% if campaign.vote_response_count > 0 %}{{ campaign.latest_response_date|default:'' }}{% endif %}</td>
						<td class="w2 pv2 pl2 pr3">{{ campaign.feedback_response_count|default:'' }}</td>
						<td class="pv2 pl2 pr3" data-order="{% if campaign.feedback_response_count > 0 %}{{ campaign.latest_feedback_response_date|date:'U' }}{% endif %}">{% if campaign.feedback_response_count > 0 %}{{ campaign.latest_feedback_response_date|default:'' }}{% endif %}</td>
						<td class="w2 pv2 pl2 pr3">{{ campaign.other_response_count|default:'' }}</td>
						<td class="w2 pv2 pl2 pr3">{{ campaign.numOthers|default:'' }}</td>
						<td class="pv2 pl2 pr3">{{ campaign.projectName|default:'' }}</td>
						
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
