{% extends "metrics/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Task {% endblock %}

{% block pageTitle %} Task {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}
	<script>OM.enableHotlinkrows();</script>
		
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<p class="pb0">Click any row to edit it or <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{{ newItemUrl }}"><span class="mr1">add a new {{ modelMeta.verbose_name }}</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></p>
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4">
		
		<table {{ templateHelpers.html.tableWidget.fullFeatures|safe }} data-order='[[1, "asc"]]'>
			<thead>
				<tr>
					<th class="tl">Updated</th>
					<th class="tl">Name</th>
					<th class="tl">Parent</th>
					<th class="tl">Subtasks</th>
					<th class="tl">Score</th>
					<th class="tl">Ease</th>
					<th class="tl">Current fr.</th>
					<th class="tl">Target fr.</th>
					<th class="tl">Projects</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in listItems %}
					<tr tabindex="0" data-url="{% url 'metrics:admin_task_edit' id=item.id %}" class="hover-bg-lightest-blue pointer" title="Click to edit">
						<td class="" data-order="{{ item.updated_at|date:'U' }}">{{ item.updated_at }}</td>
						<td class="">{{ item.name }}</td>
						<td class="">{{ item.parent_task.name }}</td>
						<td class="">{{ item.task_parent_task.count }}</td>
						<td class="">{{ item.score|floatformat:1 }}</td>
						<td class="">{{ item.ease|floatformat:1 }}</td>
						<td class="">{{ item.current_friction|floatformat:1 }}</td>
						<td class="">{{ item.target_friction|floatformat:1 }}</td>
						<td class="">{{ item.projects.all|join:'<br>' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
