{% extends "metrics/page_template.html" %}
{% load static %}
{% load common_templatetags %}
{% load humanize %}


{% block browserTitle %}{{ block.super}} {{ selectedProject.name }} feedback {% endblock %}

{% block pageTitle %} Feedback {% endblock %}


{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}

	<script>
	
		(function ($) {
			
			function setupInstantSubmit () {
				$('#custom-filters').on('change', 'select', function (evt) {
					$('#custom-filters').submit();
				});
			}
			$(setupInstantSubmit);
			
			
			function setupDeleteResponse () {
				var table = $('#custom-response-table').DataTable();
				
				$('#custom-response-table tbody').on('click', '.custom-delete-response', function (evt) {
					evt.preventDefault();
					
					$.ajax({
						url: '{% url "metrics:api_delete_response" %}',
						type: 'post',
						data: {
							csrfmiddlewaretoken: '{{ csrf_token }}',
							id: evt.currentTarget.dataset.id,
							type: 'feedback',
						},
						success: function () {
							table
								.row($(evt.currentTarget).parents('tr'))
								.remove()
								.draw();
						},
					});					
				});
			}
			$(setupDeleteResponse);
			
			
			function setupDeleteAllResponses () {
				$('#custom-delete-all-responses').on('click', function (evt) {
					document.querySelector('#custom-delete-processing').classList.remove('dn');
					evt.preventDefault();
					$.ajax({
						url: '{% url "metrics:api_delete_project_responses" %}',
						type: 'post',
						data: {
							csrfmiddlewaretoken: '{{ csrf_token }}',
							id: {{ selectedProject.id }},
							type: 'feedback',
						},
						success: function () {
							window.location.reload();
						},
					});	
				});				
			}
			$(setupDeleteAllResponses);
			
			
		})(jQuery);
			
	</script>
	
{% endblock %}



{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4 mb4">
	
		<form aria-label="Form will automatically submit and reload the page when selecting a filter value" id="custom-filters" action="" method="get">
			<div class="mb4 flex-ns flex-row-ns flex-column flex-wrap items-center">
				<div class="mr3 mb3">
					<select aria-label="Project" class="dib" name="project" data-width="resolve" required>
						<option value="">Select a project</option>
						{% for project in projects %}
							<option value="{{ project.id }}"{% if selectedProject.id == project.id %}selected="selected"{% endif %}>{{ project.name }}</option>
						{% endfor %}
					</select>
				</div>
				<button style="width:0;height:0;opacity:0;" class="pa0 ma0">Show them</button>
			</div>
		</form>
		
		{% if customTimeMachineMessage %}
			<div class="mt2 mb4 tc">
				<div class="pv3 ph4 bg-light-yellow dib">{{ customTimeMachineMessage|safe }}</div>
			</div>
		{% endif %}
		
		{% if responses.count > 0 and emptyResponseCount > 0 %}
			<div class="f6 mb3">{{ emptyResponseCount }} responses without comments have been omitted from the table.</div>
		{% endif %}
		
		<div class="mb3 f6"><a class="inline-flex items-center smallicon {{ templateHelpers.classes.link }}" href="{% url 'metrics:project_feedback_responses_csv_dump' %}?project={{ selectedProject.id }}"><span class="mr1">{{ templateHelpers.html.icons.csv|safe }}</span><span>Export all responses since the dawn of time, with <strong>every</strong> question field, as a CSV file (be patient, may take ~20s)</span></a></div>
		
		
		<table id="custom-response-table" {{ templateHelpers.html.tableWidget.fullFeatures|safe }} data-order='[[{% if request.GET.sort %}{{ request.GET.sort }},"asc"{% else %}1,"desc"{% endif %}]]'>
			<thead class="f6">
				{% if request.user.hasAdminAccess %}<th data-orderable="false">Del</th>{% endif %}
				<th style="width:100px;">Date</th>
				<th>View</th>
				<th>Rating</th>
				<th>Type</th>
				<th>Comments</th>
				<th>Location</th>
				<th class="mw3">Email</th>
				<th>Keywords</th>
				<th>Assignees</th>
			</thead>
			
			<tbody class="f6">
				{% for response in responses %}
					<tr>
						{% if request.user.hasAdminAccess %}<td><a class="custom-delete-response hint--medium hint--top-right red ph2 smallicon {{ templateHelpers.classes.link }}" href="#" data-id="{{ response.id }}" aria-label="Delete this response. This is IRREVERSIBLE!">{{ templateHelpers.html.icons.trash|safe }}</a></td>{% endif %}
						<td>{{ response.date|date:"Y-m-d" }}</td>
						<td><a href="{% url 'metrics:projects_feedback_responses_detail' uid=response.uid %}">Detail</a></td>
						<td>{{ response.rating }}</td>
						<td>{{ response.feedback_type }}</td>
						<td>{{ response.comments }}</td>
						<td>{% if response.raw_data.data.cc %}
								{{ response.raw_data.data.cc|upper }}
							{% elif response.raw_data.data.location %}
								{{ response.raw_data.data.location }}
						{% endif %}</td>
						<td>{{ response.raw_data.data.email|default:'' }}</td>
						<td>{{ response.keywords.all|default:''|join:', ' }}</td>
						<td>{{ response.assignees.all|default:''|join:', ' }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
		{% if responses %}
			<div class="mv4 flex">
				<a href="#" id="custom-delete-all-responses" class="{{ templateHelpers.classes.smallButton }} {{ templateHelpers.classes.redPriButton }}">Permanently delete all feedback responses</a>
				<div id="custom-delete-processing" class="dn ml2 bo-spinner ba bw2 br-100 w2 h2"></div>
			</div>
		{% endif %}
		
	</div>


{% endblock %}

