{% extends "metrics/page_template.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Feedback response{% endblock %}

{% block pageTitle %}Feedback response - {{ feedbackResponse.uid }}{% endblock %}

{% block pageSubtitle %}
{% endblock %}

{% block extraFiles %}


{% endblock %}


{% block content %}

		
	<div class="mv4 {{ templateHelpers.classes.grid }}">
	
		<div class="flex-ns">
	
			<div class="bg-white w-100 w-70-ns pa4 relative mb4">
				<div class="w-100 mw8-ns mb4">
					<div class="flex-ns mb3">
						<div class="b w5 mb3">UID</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.uid }}</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Date</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.date|date:'M d, Y' }} - {{ feedbackResponse.date|time:'TIME_FORMAT' }}</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Rating</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.rating }}/5</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Feedback type</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.feedback_type|default:'--' }}</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Comments</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.comments|default:'--'|striptags|linebreaksbr|urlize }}</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Email</div>
						<div class="w-100 lh-copy">{{ feedbackResponse.email|default:'--' }}</div>
					</div>
					<div class="flex-ns mb3">
						<div class="b w5 mb3">Raw response data</div>
						<div class="w-100 lh-copy bo-word-break-all">{{ feedbackResponse.raw_data }}</div>
					</div>
				</div>
			</div>
				
			<div class="w-100 w-30-ns pl4-ns mb4">
				<form action="" method="post">
					{% csrf_token %}
					<div class="mb4">
						<div class="w-100 b mb2">{{ form.assignees.label_tag }}</div>
						<div class="w-100 relative">
							{{ form.assignees }}
							<div class="dark-red">{{ form.assignees.errors.as_text }}</div>
						</div>
					</div>
					
					<div class="mb4">
						<div class="w-100 b mb2">{{ form.keywords.label_tag }}</div>
						<div class="w-100 relative">
							{{ form.keywords }}
							<div class="f6 gray mt1">Type and hit &lt;enter&gt; to create a new one</div>
							<div class="dark-red">{{ form.keywords.errors.as_text }}</div>
						</div>
					</div>
					
					<div class="mb4">
						<div class="w-100 b mb2">{{ form.notes.label_tag }}</div>
						<div class="w-100 relative">
							{{ form.notes }}
							<div class="dark-red">{{ form.notes.errors.as_text }}</div>
						</div>
					</div>
					
					<button class="{{ templateHelpers.classes.button }} {{ templateHelpers.classes.bluePriButton }}">Save</button>
				</form>
			</div>
		</div>
	</div>
	
	{% include 'partials/add_user_overlay.html' %}

	
{% endblock %}

