{% extends "metrics/page_template.html" %}
{% load static %}
{% load common_templatetags %}
{% load humanize %}


{% block browserTitle %}{{ block.super}} {{ task.name }} {% endblock %}

{% block pageTitle %} {{ task.name }} {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}

	<script>
	
		(function ($) {
			
			function setupInstantSubmit () {
				$('#custom-filters').on('change', 'select', function (evt) {
					$('#custom-filters').submit();
				});
			}
			
			//$(setupInstantSubmit);
		})(jQuery);
			
	</script>
	
{% endblock %}


{% block leadspace__ %}
<div class="{{ templateHelpers.classes.grid }} mt4">
	<div class="flex flex-wrap justify-between">
		<div class="f4 fw6 mb4 mr4">Tasks</div>
		<div class="mb3"><button class="{{ templateHelpers.classes.smallButton }} {{ templateHelpers.classes.blueTertiaryButton }}" onclick="BO.showProjectJumplinksOverlay();">Jump to tool</button></div>
	</div>
</div>
{% endblock %}


{% block content %}

	<div class="mt4 ph3-ns flex-ns">

		<div class="w-100 w-25-ns ph3 mb4">
			<div class="bg-white pa3 tc h-100">
				<div class="mb3">Score (UXI)</div>
				<div class="f2 fw5 mb3">{% if task.score > 0 %}{{ task.score|floatformat:0 }}{% endif %}</div>
				<div>{% if task.score > 0 %}<span class="{{ templateHelpers.classes.textTag }}" style="color:{{ goalCategory.text_color_code }};background-color:{{ goalCategory.color_code }};">{{ goalCategory.name }}</span>{% endif %}</div>
			</div>
		</div>
		<div class="w-100 w-25-ns ph3 mb4">
			<div class="bg-white pa3 tc h-100">
				<div class="mb3">Ease</div>
				<div class="f2 fw5 mb3">{% if task.ease %}{{ task.ease|floatformat:0 }}%{% else %}{% endif %}</div>
			</div>
		</div>
		<div class="w-100 w-25-ns ph3 mb4">
			<div class="bg-white pa3 tc h-100">
				<div class="mb3">Current friction</div>
				<div class="f2 fw5 mb3">{% if task.current_friction %}{{ task.current_friction|floatformat:0 }}{% else %}<div class="bg-light-gray {{ templateHelpers.classes.textTag }}">in progress</div>{% endif %}</div>
			</div>
		</div>
		<div class="w-100 w-25-ns ph3 mb4">
			<div class="bg-white pa3 tc h-100">
				<div class="mb3">Target friction</div>
				<div class="f2 fw5 mb3">{% if task.target_friction %}{{ task.target_friction|floatformat:0 }}{% else %}<div class="bg-light-gray {{ templateHelpers.classes.textTag }}">in progress</div>{% endif %}</div>
			</div>
		</div>
		
	</div>
	
	
	{% if task.task_parent_task.all %}
		<div class="mb4 {{ templateHelpers.classes.grid }}">
			
			<div class="pa3 pa4-ns bg-white">
			
				<div class="b mb4">Subtasks</div>
			
				<table {{ templateHelpers.html.tableWidget.sortOnly|safe }} data-order='[[1,"desc"]]'>
					<thead>
						<tr>
							<th>Task</th>
							<th>Ease</th>
							<th>Current friction</th>
							<th>Target friction</th>
							<th class="w4">Updated</th>
					</thead>
					
					<tbody>
						{% for subtask in task.task_parent_task.all %}
							<tr>
								<td>{{ subtask.name }}</td>
								<td>{% if subtask.ease %}{{ subtask.ease|floatformat:0 }}%{% else %}{% endif %}</td>
								<td>{% if subtask.current_friction %}{{ subtask.current_friction|floatformat:0 }}{% else %}<div class="bg-light-gray {{ templateHelpers.classes.textTag }}">in progress</div>{% endif %}</td>
								<td>{% if subtask.target_friction %}{{ subtask.target_friction|floatformat:0 }}{% else %}<div class="bg-light-gray {{ templateHelpers.classes.textTag }}">in progress</div>{% endif %}</td>
								<td data-order="{{ subtask.updated_at|date:'U' }}" class="">{{ subtask.updated_at|date:'M d, Y' }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			
			</div>
			
		</div>
	{% endif %}
	
	{% if researchItems %}
		<div class="mb4 {{ templateHelpers.classes.grid }}">
			
			<div class="pa3 pa4-ns bg-white">
			
				<div class="b mb4">Research</div>
			
				<table {{ templateHelpers.html.tableWidget.sortOnly|safe }}>
					<thead>
						<tr>
							<th>Name</th>
							<th>Status</th>
							<th class="w4">Updated</th>
					</thead>
					
					<tbody>
						{% for research in researchItems.all %}
							<tr>
								<td>{{ research.name|striptags }}</td>
								<td><div class="{{ templateHelpers.classes.textTag }} {{ research.status.color_class }} {{ research.status.text_color_class }}">{{ research.status.name }}</div></td>
								<td data-order="{{ research.sort_date|date:'U' }}" class="">{{ research.sort_date|date:'M d, Y' }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				
			</div>
			
		</div>
	{% endif %}
	
	{% if task.projects.all %}
	
		<div class="{{ templateHelpers.classes.grid }}">
			
			<div class="b mb4">Associated tools &amp; services</div>
			
			<div class="flex flex-wrap">
				{% for snapshot in projectSnapshots %}
					{% include 'metrics/partials/project_tile_nps_score.html' with snapshot=snapshot %}
				{% endfor %}
				
				{% for project in projectsWithoutSnapshot %}
					{% include 'metrics/partials/project_tile_no_snapshot.html' with project=project scoreType='NPS' %}
				{% endfor %}
			</div>
			
		</div>
		 
	{% endif %}


	{% include 'metrics/partials/project_jumplinks_overlay.html' %}
	
{% endblock %}

