{% extends "research/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Survey question exclusion {% endblock %}

{% block pageTitle %} Survey question exclusions {% endblock %}

{% block extraFiles %}

	
	<script>AL.enableHotlinkrows();</script>

{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<p class="pb0">Click any row to edit it or <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{{ newItemUrl }}"><span class="mr1">add a new {{ modelMeta.verbose_name }}</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></p>
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4 mw7">
		
		<table {{ templateHelpers.html.tableWidget.sortOnly|safe }}>
			<thead>
				<tr>
					<th class="tl">Exclude questions from display that contain these matches, case-insensative</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in listItems %}
					<tr tabindex="0" data-url="{% url 'research:admin_surveyquestionexclusion_edit' id=item.id %}" class="hover-bg-lightest-blue pointer" title="Click to edit">
						<td class="pv2 pl2 pr3">{{ item.question_text }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
