{% extends "research/page_template_admin.html" %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}{{ block.super}} Admin - Sources {% endblock %}

{% block pageTitle %} Sources {% endblock %}

{% block extraFiles %}

	{% include 'partials/tablewidget_files.inc' %}
	<script>AL.enableHotlinkrows();</script>

{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<p class="pb0">Click any row to edit it or <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{{ newItemUrl }}"><span class="mr1">add a new {{ modelMeta.verbose_name }}</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></p>
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mv4 mw6">
		
		<table {{ templateHelpers.html.tableWidget.sortOnly|safe }}>
			<thead>
				<tr>
					<th class="tl">Name</th>
					<th class="tl pl2">Artifacts tagged</th>
				</tr>
			</thead>
			
			<tbody>
				{% for source in listItems %}
					<tr tabindex="0" data-url="{% url 'research:admin_source_edit' id=source.id %}" class="hover-bg-lightest-blue pointer" title="Click to edit">
						<td class="pv2 pl2 pr3">{{ source.name }}</td>
						<td class="pv2 pl2 pr3">{{ source.artifact_source.count }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
