{% extends "info/admin_whatsnew_add.html" %}

{% block browserTitle %}Admin - {{ modelMeta.verbose_name_plural|capfirst }} - Edit: {{ itemName }}{% endblock %}

{% block pageTitle %} Edit: {{ itemName }} {% endblock %}

{% block deleteButton %}
	<form class="w-100 pa4 mb4 bg-white" action="{% url 'info:admin_whatsnew_delete' %}" method="post">
		{% csrf_token %}
		<input type="hidden" name="id" value="{{ thisModelItem.id }}">
		<div class="mb3 red b">This is irreversible</div>
		<button class="{{ templateHelpers.classes.button }} {{ templateHelpers.classes.redSecButton }} ">Delete</button>
	</form>
{% endblock %}