{% extends "info/page_template_admin.html" %}
{% load static %}


{% block browserTitle %}{{ block.super}} Admin - What's new {% endblock %}

{% block pageTitle %} What's new {% endblock %}

{% block extraFiles %}


	<script>
	
		(function ($) {
			
			function updateFeaturedItem (evt) {
				$.ajax({
					url: '{% url 'info:api_whats_new_featured' %}',
					type: 'post',
					dataType: 'json',
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'id': $('#featured-whatsnew').val(),
					},
					success: function (data) {
						window.location.href = '?n=' + new Date().getMilliseconds();
					},
					error: function (data) {
						console.log('There was a problem');
					},
				});
			}
			
			$(function () {
				$('#featured-whatsnew').on('change', updateFeaturedItem);
			});
			
		})(jQuery);
	
	</script>
	
	{% include 'partials/tablewidget_files.inc' %}
	<script>OM.enableHotlinkrows();</script>

{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		<div class="pa4 bg-white">
			<div id="featured-item-msg" class="mb2"></div>
			<div class="mw7 flex items-center">
				<div class="b mr2 w5">Featured item</div>
				<select aria-label="Featured news item" id="featured-whatsnew" name="id">
					<option	value="">Select one</option>
					{% for item in listItems %}
						<option value="{{ item.id }}" {% if item.featured %}selected{% endif %}>{{ item.date }} - {{ item.heading }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
			
	</div>
	
	<div class="{{ templateHelpers.classes.grid }} mt4 pt3">
		
		<p class="pb0">Click any row to edit it or <a class="{{ templateHelpers.classes.hasIconFlexCenter }} animate" href="{% url 'info:admin_whatsnew_add' %}"><span class="mr1">add a new What's new item</span> {{ templateHelpers.html.icons.chevronForward|safe }}</a></p>
		
		<table {{ templateHelpers.html.tableWidget.fullFeatures|safe }} data-order='[[0, "desc"]]'>
			<thead>
				<tr>
					<th class="w4 tl">Date</th>
					<th class="tl">Heading</th>
					<th class="tl pl2">Description</th>
					<th class="tl pl2">Notified users</th>	
					<th class="tl pl2">Emails sent</th>
					<th class="tl pl2">In feed</th>	
					<th class="tl pl2">Featured</th>
				</tr>
			</thead>
			
			<tbody>
				{% for item in listItems %}
					<tr tabindex="0" data-url="{% url 'info:admin_whatsnew_edit' id=item.id %}" class="hover-bg-lightest-blue pointer" title="Click to edit">
						<td class="pv2 pl2 pr3">{{ item.date }}</td>
						<td class="pv2 pl2 pr3">{{ item.heading }}</td>
						<td class="pv2 pl2 pr3">{{ item.description|safe }}</td>
						<td class="pv2 pl2 pr3">{{ item.notify_users }}</td>
						<td class="pv2 pl2 pr3">{{ item.emails_sent_count }}</td>
						<td class="pv2 pl2 pr3">{{ item.include_in_feed }}</td>
						<td class="pv2 pl2 pr3">{{ item.featured }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
	

{% endblock %}
