{% extends "info/page_template.html" %}
{% load static %}


{% block browserTitle %} {{ block.super}} Home {% endblock %}

{% block extraFiles %}
	
	<style>
		.custom-leadspace {
			color: #fff;
			background: url({% static 'shared/img/leadspace-home2.png' %}) no-repeat 95% / contain;
		}
		
		@media only screen and (max-width: 800px) {
			.custom-leadspace {
				background-image: none;
			}
		}
	</style>
{% endblock %}
	
{% block headerInfoClass %}{% endblock %}

{% block pageTitle %} Research and Analytics {% endblock %}


{% block content %}
		
	<div class="w-100 ph3 ph0-ns pt4 mv4 flex-l">
		
		<div class="w-third-l ph4-ns pv0-ns br-l custom-border-color mb5 mb4-l">
			<div class="mb3 mb4-l"><img src="{% static 'info/img/home-research.png' %}" width="112" height="112" class="db bo-downsize" alt=""></div>
			<div class="lh-copy mb3"><a class="b {{ templateHelpers.classes.link }}" href="{% url 'research:home' %}">{{ researchItemsCount }} available documents</a> in our research library</div>
			<div class="lh-copy">Access a comprehensive collection of user experience research, available to all users to enhance their projects.</div>
		</div>
		
		<div class="w-third-l ph4-ns pv0-ns br-l custom-border-color mb5 mb4-l">
			<div class="mb3 mb4-l"><img src="{% static 'info/img/home-metrics2.png' %}" width="146" height="112" class="db bo-downsize" alt=""></div>
			<div class="lh-copy mb3"><a class="b {{ templateHelpers.classes.link }}" href="{% url 'metrics:home' %}">{{ projectsCount }} tools and services</a> tracked in our metrics dashboard</div>
			<div class="lh-copy">Collect, analyze, and view current, comprehensive usage and behavioral metrics for a multitude of tools and projects.</div>
		</div>
		
	</div>
	
{% endblock %}

