{% extends "page_template.html" %}
{% load static %}

{% block browserTitle %}{{ block.super}} Error 404{% endblock %}

{% block leadspace %} {% endblock  %}

{% block content %}

	<style>
	
	.custom-page {
		background: url({% static 'shared/img/404_bg.jpg' %}) no-repeat 0 0 / cover;
	}
	
	</style>
	
	<div style="min-height:calc(100vh - 160px);" class="flex-ns justify-center custom-page overflow-hidden">
		
		<div class="w-100 mw6-ns mw5 ml-5 mr0-ns ml0-ns mr-auto"><img class="bl-resize" style="transform:translate3d(30px,0,0)" src="{% static 'shared/img/403_3.png' %}" alt="Gandalf"></div>
		<div class="mw6 ml4 ml0-ns mt6-l mt5-m white f4-ns">
			<div>
			    <div class="f-headline">403</div>
				<h1 class="mv0 f3 fw6">Halt! You shall not pass.</h1>
				<p class="lh-copy">It appears you do not have the proper credentials to access this page. If you feel you have reached this in error, contact Michael Santelia.</p>
			</div>
		</div>
		
	</div>
	
{% endblock %}
