{% extends "page_template.html" %}
{% load static %}

{% block browserTitle %}{{ block.super}} Error 500{% endblock %}

{% block leadspace %} {% endblock  %}

{% block content %}

	<style>
		
		.custom-page {
			background: url({% static 'shared/img/404_bg.jpg' %}) no-repeat 0 0 / cover;
		}
		
	</style>
		
	
	<div style="min-height:calc(100vh - 120px);" class="flex-ns items-center justify-center custom-page overflow-hidden">	
		
		<div class="w-100 mw4 mt4 mt0-ns mw5-ns mr5-ns ml5 mr0-ns ml0-ns mr-auto ml-auto"><img class="bo-resize" style="" src="{% static 'shared/img/500_4.png' %}" alt="Deadpool"></div>
		<div class="mw6 ml4 ml0-ns white f4-ns">
			<div>
				<div class="f-headline">500</div>
				<h1 class="mv0 f3 fw6">Uh oh! A 500 error just occurred.</h1>
				<p class="lh-copy">Well crap, something is broken on this page and it can't be rendered. Don't worry though, we're on it! The admins have just been notified and will get it fixed ASAP.</p>
			</div>
		</div>
		
	</div>
	
{% endblock %}
