{% extends adminTemplate %}
{% load static %}
{% load common_templatetags %}


{% block browserTitle %}Admin - Add a new {{ modelMeta.verbose_name }}{% endblock %}

{% block pageTitle %} Add a new {{ modelMeta.verbose_name }} {% endblock %}

{% block pageSubtitle %} {% endblock %}

{% block extraFiles %}
{% endblock %}


{% block content %}

	<div class="{{ templateHelpers.classes.grid }} mt4">
		
		{% include 'partials/form_complete_horizontal.html' with form=form %}
	
		{% block deleteButton %}{% endblock %}
		
		{% include 'partials/add_user_overlay.html' %}
		
	</div>
		
{% endblock %}

